html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: #6733bd;
  color: #f9f9f9;
  height: 100vh;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 320px;
  border-radius: 16px;
  background: url("Anime1.webp");
  background-size: 120%;
  background-position: center;
  transition: 0.5s;
  opacity: 0.9;
}

.card h1 {
  font-size: 38px;
}

.card button {
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  background: #221e6f;
  color: #f9f9f9;
  font-family: inherit;
}

button:hover{
  background-color: var(--color);
      transition: all 0.6s ease;
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -ms-transform: scale(1.35);
    z-index: 2;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: fit-content;
  background-size: cover;
}

@media (max-device-width: 704px){
  .container{
    height: 100%;
    width: auto;
    background: url("./bg.webp");
  }
  .back-video{
    opacity: -1;
  }
  .card{
    width: 300px;
    height: 180px;
  }
  .card h1 {
    font-size: 30px;
  }
  
}

@media (max-device-width: 1195px) and (min-device-width: 704px) {
  .back-video{
    /* height: 100vh;
    width: auto; */
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }
  
}